.formAction form{
    width:100%;
    display:flex;
    margin-top:1em;
    gap:1em;
}
form input{
    width:60%;
    height:35px;
    border-radius:25px;
    text-indent:1em;
    border:none;
    outline:0;
}
@media screen and (max-width:405px){
    .formAction{
        width:90%;
        height:300px;
        left:2em;
        bottom:12em;
    }
    form{
        display:flex;
        align-items:center;
        flex-direction:column;
    }
    form input{
        width:90%;
    }
}